{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="mb-4">Logowanie <span class="small text-secondary"></span></h1>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-dark" type="submit">Zaloguj</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Nie masz konta? <a class="ml-2" href="{% url 'register' %}">Utwórz nowe</a>
            </small>
        </div>
    </div>
{% endblock content %}
<span class="footer-classes">
    {% block footer-class %} position-absolute fixed-bottom {% endblock %}
</span>
