{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="mb-4">Rejestracja <span class="small text-secondary">| Jeden krok od zostania użytkownikiem !</span></h1>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-dark" type="submit">Zarejestruj się</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Posiadzasz już konto ? <a class="ml-2" href="{% url 'login' %}">Zaloguj się</a>
            </small>
        </div>
    </div>
{% endblock content %}
<span class="footer-classes">
    {% block footer-class %} position-absolute fixed-bottom {% endblock %}
</span>
