{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1 class="mb-4">Register <span class="small text-secondary">| One step away from being an user !</span></h1>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-dark" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}
<span class="footer-classes">
    {% block footer-class %} position-absolute fixed-bottom {% endblock %}
</span>
