<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Forum</title>
    {% load static %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/style.css' %}">
    <link href="{% static 'main/script.js' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <a class="navbar-brand" href="{% url 'main:index' %}">Forum</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
          {% if request.user.is_authenticated %}
            <a class="nav-link" href="/profile/{{ user.username }}">My profile<span class="sr-only">(current)</span></a>
          {% else %}
          <a class="nav-link" href="/login/">My profile<span class="sr-only">(current)</span></a>
          {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ranking</a>
          </li>
        </ul>

        <a href="{% url 'main:create_question' %}" class="navbar-text mr-3">
          Any problems? Don't hesitate to ask !
        </a>
        <ul class="navbar-nav mr-5">
        {% if request.user.is_authenticated %}
          <li class="nav-item active mr-auto"><a class="nav-link" href="/logout">Logout</a></li>
        {% else %}
          <li class="nav-item active mr-auto">
            <a class="nav-link" href="/login/">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/register/">Register</a>
          </li>
        {% endif %}
        </ul>
      </div>
    </nav>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags != 'info' %}
                <div class="alert text-center alert-{{ message.tags }} position-absolute w-100">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="w-75 mx-auto mt-6" style="min-height: 79.3vh;">
        {% block content %}
        {% endblock %}
    </div>
    <footer class="page-footer bg-dark text-white text-center mt-3 text-lg-start {% block footer-class %}{% endblock %}">
        <div class="text-center p-3">
            © 2021 Copyright:
            <a class="text-white" >Filip Antoniak</a>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js" integrity="sha512-DkPsH9LzNzZaZjCszwKrooKwgjArJDiEjA5tTgr3YX4E6TYv93ICS8T41yFHJnnSmGpnf0Mvb5NhScYbwvhn2w==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha512-0xrMWUXzEAc+VY7k48pWd5YT6ig03p4KARKxs4Bqxb9atrcn2fV41fWs+YXTKb8lD2sbPAmZMjKENiyzM/Gagw==" crossorigin="anonymous"></script>
    <script src="{% static 'main/script.js' %}"></script>
</body>
</html>