{% extends 'main/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

{% for message in messages %}
    {% if message.tags == 'info' %}
        {% if message.message == '1' %}
            <form action="{% url 'main:vote_down' question.id %}" method='GET'>
                <button type="submit" class="btn btn-outline-danger float-right">Vote Down</button>
            </form>
            <form action="{% url 'main:vote_up' question.id %}" method='GET'>
                <button class="btn btn-success float-right mr-2">Voted Up</button>
            </form>
        {% elif message.message == '-1' %}
            <form action="{% url 'main:vote_down' question.id %}" method='GET'>
                <button type="submit" class="btn btn-danger float-right">Voted Down</button>
            </form>
            <form action="{% url 'main:vote_up' question.id %}" method='GET'>
                <button class="btn btn-outline-success float-right mr-2">Vote Up</button>
            </form>
        {% else %}
            <form action="{% url 'main:vote_down' question.id %}" method='GET'>
                <button type="submit" class="btn btn-outline-danger float-right">Vote Down</button>
            </form>
            <form action="{% url 'main:vote_up' question.id %}" method='GET'>
                <button class="btn btn-outline-success float-right mr-2">Vote Up</button>
            </form>
        {% endif %}
    {% endif %}
{% endfor %}

{% for category in question.category_set.all %}
    <a href="{% url 'main:category' category %}"><small>#{{ category }}</small></a>
{% endfor %}
<div class="float-right mr-3 mt-2">Votes: {{ question.votes }}</div>
<h2>{{ question.question_text }}</h2>
<a class="float-right" href="/profile/{{ question.user.username }}">
    <div class="text-dark mt-2">Utworzone przez: <span class="text-primary">{{ question.user.username }}</span> {{ question.get_date }}</div>
</a>
<legend class="border-bottom"></legend>
<h3 class="w-75 mt-4 mb-5"><small>{{ question.question_subtext }}</small></h3>
<div class="mt-5 mb-5 p-3"></div>
{% if request.user.is_authenticated %}
    <h3 class="mt-5 mb-4">{{ question.comment_set.all.count }} Answers:</h3>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-dark float-right" type="submit">Answer</button>
        </div>
        <small class="p-3"></small>
    </form>
{% else %}
    <h3 class="mt-5 mb-4">{{ question.comment_set.all.count }} odpowiedzi:
        <a class="float-right" href="/login/?next={% url 'main:detail' question.id %}">
            <small class="text-primary mt-2">Zaloguj się aby móc odpowiedzieć</small>
        </a>
    </h3>
{% endif %}
<ul class="mt-5">
    {% for comment in question.comment_set.all %}
    <li class="mt-3 list-group-item-action flex-column align-items-start mb-4">
        <div class="w-75">
            <a href="/profile/{{ comment.user.username }}" class="text-primary">{{ comment.user }}</a>
                : {{ comment.comment_text }} - <span class="text-secondary">{{ comment.get_date }}</span>
            {% if request.user == comment.user %}
                <a class="text-danger ml-3" href="{% url 'main:delete_comment' comment.id %}"> delete <i class="fa fa-close"></i></a>
            {% endif %}
        </div>

    </li>
    {% endfor %}
</ul>
<div class="p-3"></div>
<span class="footer-classes">
    {% block footer-class %} position-absolute w-100 {% endblock %}
</span>
{% endblock %}